
<div class="bbq_logos">
    
    <%- include('./_op.ejs') %>

    <div class="bbq_left">
        <%- include('./_left.ejs') %>
    </div>
    <div class="bbq_logos-inner">
        <%- include('./_mv.ejs') %>
        <%- include('./_lead.ejs') %>
        <%- include('./_section1.ejs') %>
        <%- include('./_section2.ejs') %>
        <%- include('./_section3.ejs') %>
    </div>
    <div class="bbq_right">
        <%- include('./_right.ejs') %>
    </div>
    <div class="bbq_modal-wrap">
        <%- include('./_modal.ejs') %>
    </div>
</div>


<script src="<%= rootURL %>/assets/js/index.js"></script>
