<img src="<%= rootURL %>" alt="">
<div class="bbd_logos">
    <%- include('./_top.ejs') %>
    <%- include('./_lead.ejs') %>
    <%- include('./_section1.ejs') %>
    <%- include('./_section2.ejs') %>
    <%- include('./_section3.ejs') %>
</div>

<script src="<%= rootURL %>/assets/js/index.js"></script>