<div class="top_wrap">
    <p class="bbd_lead ja bbq-fadein">
        バーベキューを思いきり楽しむためには、<br>
        ちょっとしたアイテム選びが意外と大切。<br>
        これからはじめるバーベキューを快適に、<br>
        準備・片付けが簡単になる便利アイテムをご紹介。<br>
        手間をかけずに、美味しく・楽しく<br>
        アウトドアを満喫できる調理アイテムも。<br>
        初心者でも安心して使える道具を厳選。<br>
        バーベキューをスムーズにするヒントがここにあります！    
    </p>

    <ul class="sp-anchor bbq-fadein">
        <li class="anchor anchor_1">
            <a href="#sec_1">
                <div class="anchor_img">
                    <img src="<%= rootURL %>/assets/img/anchor_1.png" alt="">
                </div>
                <p class="anchor_txt ja">
                    準備に最適<br>
                    シリーズ                    
                </p>
                <div class="anchor_arrow">
                    <img src="<%= rootURL %>/assets/img/anchor_arrow.png" alt="">
                </div>
            </a>
        </li>
        <li class="anchor anchor_2">
            <a href="#sec_2">
                <div class="anchor_img">
                    <img src="<%= rootURL %>/assets/img/anchor_2.png" alt="">
                </div>
                <p class="anchor_txt ja">
                    片付けに最適<br>
                    シリーズ                    
                </p>
                <div class="anchor_arrow">
                    <img src="<%= rootURL %>/assets/img/anchor_arrow.png" alt="">
                </div>
            </a>
        </li>
        <li class="anchor anchor_3">
            <a href="#sec_3">
                <div class="anchor_img">
                    <img src="<%= rootURL %>/assets/img/anchor_3.png" alt="">
                </div>
                <p class="anchor_txt ja">
                    調理に最適<br>
                    シリーズ                    
                </p>
                <div class="anchor_arrow">
                    <img src="<%= rootURL %>/assets/img/anchor_arrow.png" alt="">
                </div>
            </a>
        </li>
    </ul>
</div>