<div class="pc-anchor-wrap">
    <ul class="pc-anchor-inner">
        <li class="pc-anchor pc-anchor_1">
            <a href="#sec_1">
                <div class="pc-anchor_img">
                    <img src="<%= rootURL %>/assets/img/pc-anchor_1.png" alt="">
                </div>
                <p class="pc-anchor_txt ja">
                    準備に最適<br>
                    シリーズ                    
                </p>
                <div class="pc-anchor_arrow">
                    <img src="<%= rootURL %>/assets/img/anchor_arrow.png" alt="">
                </div>
            </a>
        </li>
        <li class="pc-anchor pc-anchor_2">
            <a href="#sec_2">
                <div class="pc-anchor_img">
                    <img src="<%= rootURL %>/assets/img/pc-anchor_2.png" alt="">
                </div>
                <p class="pc-anchor_txt ja">
                    片付けに最適<br>
                    シリーズ                    
                </p>
                <div class="pc-anchor_arrow">
                    <img src="<%= rootURL %>/assets/img/anchor_arrow.png" alt="">
                </div>
            </a>
        </li>
        <li class="pc-anchor pc-anchor_3">
            <a href="#sec_3">
                <div class="pc-anchor_img">
                    <img src="<%= rootURL %>/assets/img/pc-anchor_3.png" alt="">
                </div>
                <p class="pc-anchor_txt ja">
                    調理に最適<br>
                    シリーズ                    
                </p>
                <div class="pc-anchor_arrow">
                    <img src="<%= rootURL %>/assets/img/anchor_arrow.png" alt="">
                </div>
            </a>
        </li>
    </ul>
</div>