<div class="bbq_mv">
    <div class="mv_inner">
        <img src="<%= rootURL %>/assets/img/mv_bg.png" alt="">
    </div>
    <div class="mv-item mv_egg">
        <img src="<%= rootURL %>/assets/img/mv_egg.png" alt="">
    </div>
    <div class="mv-item mv_people">
        <img src="<%= rootURL %>/assets/img/mv_people.png" alt="">
    </div>
    <div class="mv-item mv_1">
        <img src="<%= rootURL %>/assets/img/mv_1.png" alt="">
    </div>
    <div class="mv-item mv_2">
        <img src="<%= rootURL %>/assets/img/mv_2.png" alt="">
    </div>
    <div class="mv-item mv_3">
        <img src="<%= rootURL %>/assets/img/mv_3.png" alt="">
    </div>
    <div class="mv-item mv_4">
        <img src="<%= rootURL %>/assets/img/mv_4.png" alt="">
    </div>
    <div class="mv-item mv_5">
        <img src="<%= rootURL %>/assets/img/mv_5.png" alt="">
    </div>
    <div class="mv-item mv_6">
        <img src="<%= rootURL %>/assets/img/mv_6.png" alt="">
    </div>
    <div class="mv-item mv_7">
        <img src="<%= rootURL %>/assets/img/mv_7.png" alt="">
    </div>
    <div class="mv-item mv_8">
        <img src="<%= rootURL %>/assets/img/mv_8.png" alt="">
    </div>
    <div class="mv-item mv_9">
        <img src="<%= rootURL %>/assets/img/mv_9.png" alt="">
    </div>
    <div class="mv-item mv_10">
        <img src="<%= rootURL %>/assets/img/mv_10.png" alt="">
    </div>
    <div class="mv-item mv_11">
        <img src="<%= rootURL %>/assets/img/mv_11.png" alt="">
    </div>
    <div class="mv-item mv_12">
        <img src="<%= rootURL %>/assets/img/mv_12.png" alt="">
    </div>
    <div class="mv-item mv_txt1">
        <img src="<%= rootURL %>/assets/img/mvtxt-1.png" alt="">
    </div>
    <div class="mv-item mv_txt2">
        <img src="<%= rootURL %>/assets/img/mvtxt-2.png" alt="">
    </div>
    <div class="mv-item mv_txt3">
        <img src="<%= rootURL %>/assets/img/BBQ.png" alt="">
    </div>
</div>
