
<div class="right_wrap">
    <div class="right-inner">
        <div class="pc-mv_inner">
            <img src="<%= rootURL %>/assets/img/pcbg.png" alt="">
        </div>
        <div class="mv-item pc-mv_egg">
            <img src="<%= rootURL %>/assets/img/pc-mv_egg.png" alt="">
        </div>
        <div class="mv-item pc-mv_people">
            <img src="<%= rootURL %>/assets/img/pc-mv_people.png" alt="">
        </div>
        <div class="mv-item pc-mv_1">
            <img src="<%= rootURL %>/assets/img/pc-mv_1.png" alt="">
        </div>
        <div class="mv-item pc-mv_2">
            <img src="<%= rootURL %>/assets/img/pc-mv_2.png" alt="">
        </div>
        <div class="mv-item pc-mv_3">
            <img src="<%= rootURL %>/assets/img/pc-mv_3.png" alt="">
        </div>
        <div class="mv-item pc-mv_4">
            <img src="<%= rootURL %>/assets/img/pc-mv_4.png" alt="">
        </div>
        <div class="mv-item pc-mv_5">
            <img src="<%= rootURL %>/assets/img/pc-mv_5.png" alt="">
        </div>
        <div class="mv-item pc-mv_6">
            <img src="<%= rootURL %>/assets/img/pc-mv_6.png" alt="">
        </div>
        <div class="mv-item pc-mv_7">
            <img src="<%= rootURL %>/assets/img/pc-mv_7.png" alt="">
        </div>
        <div class="mv-item pc-mv_8">
            <img src="<%= rootURL %>/assets/img/pc-mv_8.png" alt="">
        </div>
        <div class="mv-item pc-mv_9">
            <img src="<%= rootURL %>/assets/img/pc-mv_9.png" alt="">
        </div>
        <div class="mv-item pc-mv_10">
            <img src="<%= rootURL %>/assets/img/pc-mv_10.png" alt="">
        </div>
        <div class="mv-item pc-mv_11">
            <img src="<%= rootURL %>/assets/img/pc-mv_11.png" alt="">
        </div>
        <div class="mv-item pc-mv_txt1">
            <img src="<%= rootURL %>/assets/img/mvtxt-1.png" alt="">
        </div>
        <div class="mv-item pc-mv_txt2">
            <img src="<%= rootURL %>/assets/img/mvtxt-2.png" alt="">
        </div>
        <div class="mv-item pc-mv_txt3">
            <img src="<%= rootURL %>/assets/img/BBQ.png" alt="">
        </div>
    </div>
</div>
