<section class="section section_3" id="sec_3">
    <div class="section_inner">
        <div class="top_pin">
            <div class="pin pin1"></div>
            <div class="pin pin2"></div>
        </div>
        <div class="sec_top">
            <div class="sec_tag">
                調理に最適
            </div>
            <div class="sec_top-flex">
                <h2>
                    ワンランクアップ<br>
                    ご飯シリーズ
                </h2>
                <div class="sec_topitem sec_topitem3">
                    <img src="<%= rootURL %>/assets/img/sec3-1.png" alt="">
                </div>
            </div>
        </div>
        <p class="sec_lead">
            いつものバーベキューをもっと楽しく！食材をのせて焼くだけで旨みアップの「岩塩プレート」や、こびりつかず手軽に焼きそばが作れる「焼きそばシート」など、ちょっとした工夫でワンランク上のアウトドアごはんに。盛り上がること間違いなしのアイテム、試してみませんか？   
        </p>

        <div class="plate-wrap">
            <div class="exclusive-plate-wrap">
                <div class="plate-text-wrap">
                    <div class="plate-text plate-text1">
                        <p>岩塩プレート</p>
                    </div>
                    <div class="plate-text plate-text1">
                        <p>天然岩塩を使用した</p>
                    </div>
                    <div class="plate-text plate-text1">
                        <p>良質なヒマラヤ産の</p>
                    </div>
                </div>
                <div class="plate-item">
                    <img src="<%= rootURL %>/assets/img/sec3-2.png" alt="">
                </div>
                
                <div class="lookmovie-wrap">
                    <div class="look-movie">
                        <div class="lookmovie-inner">
                            <div class="lookmovie-arrow">
                                <img src="<%= rootURL %>/assets/img/movie_arrow.png" alt="">
                            </div>
                            <p>
                                動画を見る
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="plate-explanation">
            焼き網にのせて食材を焼くだけで、ミネラルたっぷりの岩塩焼きのできあがり。加熱した岩塩の遠赤外線の押下により肉の旨味がぐんと増し、余分な脂も落ちてヘルシー。表面をお湯で洗い流せば繰り返し使えます。
        </p>
        <!-- LINEUP -->
        <div class="lineup-wrap sec3-lineup-wrap">
            <h3 class="en">LINE UP</h3>
            <!-- LINEUP inner -->
            <div class="lineup-inner">
                <div class="lineup sec3_lineup1-wrap">
                    
                    <div class="lineup-detail">
                        <p class="lineup-name">
                            LOGOS 岩塩プレート
                        </p>
                        <p class="lineup-price en">
                            ¥792
                        </p>
                        <div class="lineup-check en">
                            <a href="" target="_blank">
                                CHECK
                            </a>
                        </div>
                    </div>
                    <div class="liup-itemph sec3_lineup1">
                        <img src="<%= rootURL %>/assets/img/sec3-lineup1.png" alt="">
                    </div>
                </div>
                <div class="sec3_lineup2-flex">
                    <div class="vertical-txt-wrap plate-text-wrap">
                        <div class="vertical-txt">
                            <p>専用ケースも</p>
                        </div>
                        <div class="vertical-txt">
                            <p>持ち運びに便利な</p>
                        </div>
                    </div>
                    <div class="lineup sec3_lineup2-wrap">
                        <div class="lineup-detail">
                            <p class="lineup-name">
                                岩塩プレートケース
                            </p>
                            <p class="lineup-price en">
                                ¥2,365
                            </p>
                            <div class="lineup-check en">
                                <a href="" target="_blank">
                                    CHECK
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="sec3_lineup2">
                        <img src="<%= rootURL %>/assets/img/sec3-lineup2.png" alt="">
                    </div>
                </div>
            </div>
            <!-- LINEUP inner -->
        </div>
        <!-- LINEUP -->
         <div class="plus-wrap plus-wrap3">
            <div class="plus-item-ttl">
                焼網が鉄板に変身!
                <div class="wave wave_3">
                    <img src="<%= rootURL %>/assets/img/wave_3.png" alt="">
                </div>
            </div>
            <div class="plus-item-ttl">
                特殊ノンスティック加工で
                <div class="wave wave_4">
                    <img src="<%= rootURL %>/assets/img/wave_4.png" alt="">
                </div>
            </div>
            <div class="plus-item-ttl">
                焦げ付きにくい焼きそばシート。
                <div class="wave wave_5">
                    <img src="<%= rootURL %>/assets/img/wave_5.png" alt="">
                </div>
            </div>
            <div class="plus-txt">
                特殊ノンスティック加工で焦げ付き・こびり付きを解消した焼きそばシート。焼網に敷くだけで鉄板代わりになり、超極厚のシートだから焼きそばのほかにもホイル焼き、チャンチャン焼き、簡易食器を作ってお鍋も楽しむことができます。
            </div>
            
            <div class="sec3-seat">
                <img class="seat-item" src="<%= rootURL %>/assets/img/seat_1.png" alt="">
                <div class="seat-detail">
                    <img src="<%= rootURL %>/assets/img/seat_2.png" alt="">
                </div>
                <div class="lookmovie-wrap">
                    <div class="look-movie">
                        <div class="lookmovie-inner">
                            <div class="lookmovie-arrow">
                                <img src="<%= rootURL %>/assets/img/movie_arrow.png" alt="">
                            </div>
                            <p>
                                動画を見る
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lineup sec3_lineup3-wrap">
                    
                <div class="lineup-detail">
                    <p class="lineup-name">
                        焦げ付きにくい焼きそばシート
                    </p>
                    <p class="lineup-price en">
                        ¥1,375
                    </p>
                    <div class="lineup-check en">
                        <a href="" target="_blank">
                            CHECK
                        </a>
                    </div>
                </div>
                <div class="liup-itemph sec3_lineup3">
                    <img src="<%= rootURL %>/assets/img/seat_3.png" alt="">
                </div>
            </div>

            <div class="lineup sec3_lineup4-wrap">
                    
                <div class="lineup-detail">
                    <p class="lineup-name">
                        焦げ付きにくい焼きそばシート・<br>グリルぴったりワイド
                    </p>
                    <p class="lineup-price en">
                        ¥1,485
                    </p>
                    <div class="lineup-check en">
                        <a href="" target="_blank">
                            CHECK
                        </a>
                    </div>
                </div>
                <div class="liup-itemph sec3_lineup4">
                    <img src="<%= rootURL %>/assets/img/seat_4.png" alt="">
                </div>
            </div>
                
            
         </div>
         <div class="bottom_pin">
             <div class="pin pin1"></div>
             <div class="pin pin2"></div>
         </div>
    </div>
</section>

<div class="allitem">
    <a class="en" href="" target="_blank">
        ALL ITEMS
    </a>
</div>