<section class="section section_1" id="sec_1">
    <div class="section_inner">
        <div class="top_pin">
            <div class="pin pin1"></div>
            <div class="pin pin2"></div>
        </div>
        <div class="sec_top">
            <div class="sec_tag bbq-fadein">
                準備に最適
            </div>
            <div class="sec_top-flex">
                <h2 class="bbq-fadein">
                    エココココロゴス<br>
                    シリーズ                
                </h2>
                <div class="sec_topitem sec_topitem1 move">
                    <img src="<%= rootURL %>/assets/img/sec1-1.png" alt="">
                </div>
            </div>
        </div>
        <p class="sec_lead bbq-fadein">
            バーベキューの準備で大変なのは火おこし。<br>
            そんな火おこしが簡単にできるアイテムが<br>
            「エコココロゴスシリーズ」<br>
            ヤシガラ廃材を再利用した、地球にやさしいヤシガラ成型炭で、着火剤加工を施しているので、ライターをエコココロゴスの1点に集中して20秒前後熱するだけで簡単着火。<br>
            めんどうなバーベキュー前の火おこしが不要です。<br>
            平たく成型したココナッツチャコールに通風孔を開け、さらに片側を凸面にしたことで、平面に置いても炭の下に空気の通り道を確保し、燃焼効率を高めています。
        </p>
        <div class="sec1-1 move">
            <div class="sec1-txt sec1-txt1">
                <p>ライターで簡単着火！</p>
            </div>
            
            <img src="<%= rootURL %>/assets/img/sec1-2.png" alt="">
            <div class="sec1-txt sec1-txt2">
                <p>即バーベキュー</p>
            </div>
            <div class="lookmovie-wrap" data-video-id="czqW-wlaZ-w" data-product-link="https://dubdesign.net/javascript/getattribute-youtubemodal/">
                <div class="look-movie">
                    <div class="lookmovie-inner">
                        <div class="lookmovie-arrow">
                            <img src="<%= rootURL %>/assets/img/movie_arrow.png" alt="">
                        </div>
                        <p>動画を見る</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bbq-fadein sec-point sec1-point1">
            <p class="point-num en">1</p>
            <p class="point-ttl">地球に優しい</p>
        </div>

        <div class="cycle move">
            <div class="cycle-item cycle-1">
                <img src="<%= rootURL %>/assets/img/cycle-item1.png" alt="">
            </div>
            <div class="cycle-item cycle-2">
                <img src="<%= rootURL %>/assets/img/cycle-item2.png" alt="">
            </div>
            <div class="cycle-item cycle-3">
                <img src="<%= rootURL %>/assets/img/cycle-item3.png" alt="">
            </div>
            <div class="cycle-item chainsaw">
                <img src="<%= rootURL %>/assets/img/cycle-item4.png" alt="">
            </div>
            <div class="cycle-item cycle-arrow1">
                <img src="<%= rootURL %>/assets/img/sec1_arrow1.png" alt="">
            </div>
            <div class="cycle-item cycle-arrow2">
                <img src="<%= rootURL %>/assets/img/sec1_arrow2.png" alt="">
            </div>
            <div class="cycle-item cycle-arrow3">
                <img src="<%= rootURL %>/assets/img/sec1_arrow3.png" alt="">
            </div>
            
        </div>


        <div class="bbq-fadein sec-point sec1-point2">
            <p class="point-num en">2</p>
            <p class="point-ttl">燃えやすさの追求</p>
        </div>
        <div class="sec1_content2 move">
            <img class="sec1_content2-ph" src="<%= rootURL %>/assets/img/sec1_content2.png" alt="">
            <div class="content2-arrow1">
                <img src="<%= rootURL %>/assets/img/content2-arrow1.png" alt="">
            </div>
            <div class="content2-arrow2">
                <img src="<%= rootURL %>/assets/img/content2-arrow2.png" alt="">
            </div>
            <div class="content2-arrow3">
                <img src="<%= rootURL %>/assets/img/content2-arrow3.png" alt="">
            </div>
        </div>


        <div class="bbq-fadein sec-point sec1-point3">
            <p class="point-num en">3</p>
            <p class="point-ttl">おいしく焼ける仕組み</p>
        </div>
        <p class="sec1_content3-txt move">
            エコココロゴスは<br>
            強力遠赤外線でおいしく焼ける！            
        </p>
        <div class="graph-wrap move">
            <img class="graph-front" src="<%= rootURL %>/assets/img/graph.png" alt="">
            <img class="graph-back" src="<%= rootURL %>/assets/img/graph-b.png" alt="">
        </div>
        <p class="graph-caption move">
            ※第三者検査機関による試験結果。<br>
            ※LOGOS製グリルを使用し、焼網が130℃に達した段階から同一条件下にて表4分、裏返して2分で実験。            
        </p>

        <!-- LINEUP -->
        <div class="lineup-wrap sec1-lineup-wrap move">
            <h3 class="lineup-ttl en move">
                <span class="lineup-letter">L</span><span class="lineup-letter">I</span><span class="lineup-letter">N</span><span class="lineup-letter">E</span><span class="lineup-letter">&nbsp;</span><span class="lineup-letter">U</span><span class="lineup-letter">P</span>
            </h3>
            <!-- LINEUP inner -->
            <div class="lineup-inner">
                <div class="lineup move sec1_lineup1-wrap">
                    <div class="lineup-itemph bbq-fadein sec1_lineup1">
                        <img src="<%= rootURL %>/assets/img/sec1_lineup1.png" alt="">
                    </div>
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            エコココロゴス・<br>ラウンドDECO 2
                        </p>
                        <p class="lineup-price en">
                            ¥935
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/11116" target="_blank">
                                CHECK
                            </a>
                        </div>
                    </div>
                    <div class="move package package1">
                        <img src="<%= rootURL %>/assets/img/pacage_1.png" alt="">
                        <img class="package_txt" src="<%= rootURL %>/assets/img/package.png" alt="">
                    </div>
                </div>
                <div class="lineup move sec1_lineup2-wrap">
                    <div class="lineup-itemph bbq-fadein sec1_lineup2">
                        <img src="<%= rootURL %>/assets/img/sec1_lineup2.png" alt="">
                    </div>
                    
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            エコココロゴス・<br>ミニラウンドDECO 4
                        </p>
                        <p class="lineup-price en">
                            ¥935
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/11115" target="_blank">
                                CHECK
                            </a>
                        </div>
                    </div>
                    <div class="move package package2">
                        <img src="<%= rootURL %>/assets/img/pacage_2.png" alt="">
                        <img class="package_txt" src="<%= rootURL %>/assets/img/package.png" alt="">
                    </div>
                </div>
                <div class="lineup move sec1_lineup3-wrap">
                    <div class="lineup-itemph bbq-fadein sec1_lineup3">
                        <img src="<%= rootURL %>/assets/img/sec1_lineup3.png" alt="">
                    </div>
                    
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            エコココロゴス・<br>ミニラウンドDECO 6
                        </p>
                        <p class="lineup-price en">
                            ¥1,375
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/11114" target="_blank">
                                CHECK
                            </a>
                        </div>
                    </div>
                    <div class="move package package3">
                        <img src="<%= rootURL %>/assets/img/pacage_3.png" alt="">
                        <img class="package_txt" src="<%= rootURL %>/assets/img/package.png" alt="">
                    </div>
                </div>
                <div class="lineup move sec1_lineup4-wrap">
                    <div class="lineup-itemph bbq-fadein sec1_lineup4">
                        <img src="<%= rootURL %>/assets/img/sec1_lineup4.png" alt="">
                    </div>
                    
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            エコココロゴス・<br>
                            ダッチ<br>
                            チャコール30
                        </p>
                        <p class="lineup-price en">
                            ¥4,565
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/2229" target="_blank">
                                CHECK
                            </a>
                        </div>
                    </div>
                    <div class="move package package4">
                        <img src="<%= rootURL %>/assets/img/pacage_4.png" alt="">
                        <img class="package_txt" src="<%= rootURL %>/assets/img/package.png" alt="">
                    </div>
                </div>
                <div class="lineup move sec1_lineup5-wrap">
                    <div class="lineup-itemph bbq-fadein sec1_lineup5">
                        <img src="<%= rootURL %>/assets/img/sec1_lineup5.png" alt="">
                    </div>
                    
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            エコココロゴス・<br>ダッチ<br>チャコール6
                        </p>
                        <p class="lineup-price en">
                            ¥1,045
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/10341" target="_blank">
                                CHECK
                            </a>
                        </div>
                    </div>
                    <div class="move package package5">
                        <img src="<%= rootURL %>/assets/img/pacage_5.png" alt="">
                        <img class="package_txt" src="<%= rootURL %>/assets/img/package.png" alt="">
                    </div>
                </div>
                <div class="exclusive-case-wrap move">
                    <div class="vertical-txt-wrap case-text-wrap move">
                        <div class="vertical-txt vertical-txt1">
                            <p>専用ケースも</p>
                        </div>
                        <div class="vertical-txt vertical-txt2">
                            <p>持ち運びに便利な</p>
                        </div>
                    </div>
                    <div class="case-items-wrap move-delay">
                        <div class="case-items-inner case-items-inner1">
                            <div class="case1">
                                <img src="<%= rootURL %>/assets/img/sec1_lineup6.png" alt="">
                            </div>
                            <div class="case-arrow">
                                <img src="<%= rootURL %>/assets/img/lineup-arrow.png" alt="">
                            </div>
                            <div class="case2">
                                <img src="<%= rootURL %>/assets/img/sec1_lineup7.png" alt="">
                            </div>
                        </div>
                        <div class="case-items-inner case-items-inner2">
                            <div class="case1">
                                <img src="<%= rootURL %>/assets/img/sec1_lineup8.png" alt="">
                            </div>
                            <div class="case-arrow">
                                <img src="<%= rootURL %>/assets/img/lineup-arrow.png" alt="">
                            </div>
                            <div class="case2">
                                <img src="<%= rootURL %>/assets/img/sec1_lineup9.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="check case-check bbq-fadein en">
                        <a href="" target="_blank">
                            CHECK
                        </a>
                    </div>
                </div>
            </div>
            <!-- LINEUP inner -->
        </div>
        <!-- LINEUP -->
         <div class="plus-wrap plus-wrap1 move">
            <div class="plus-item-ttl">
                プラスアルファの
                <div class="wave wave_1">
                    <img src="<%= rootURL %>/assets/img/wave_1.png" alt="">
                </div>
            </div>
            <div class="plus-item-ttl">
                便利アイテム
                <div class="wave wave_2">
                    <img src="<%= rootURL %>/assets/img/wave_2.png" alt="">
                </div>
            </div>
            <div class="plus-item_wrap plus-item_wrap1">
                <p class="plus-txt bbq-fadein">
                    一発でスムーズに火がつく着火剤は、1989年発売以来のロングセラー「防水ファイヤーライター」。
                    人気の秘密は、水に濡れても燃え続ける強力な火力。
                    高火力で長時間燃焼するので、炭や薪の着火に最適。                
                </p>
                <div class="sec1-plus-item plus-item bbq-fadein">
                    <img src="<%= rootURL %>/assets/img/sec1_plusitem.png" alt="">
                    <div class="lookmovie-wrap" data-video-id="-Zk7Y-8mf6Q" data-product-link="https://dubdesign.net/javascript/getattribute-youtubemodal/">
                        <div class="look-movie">
                            <div class="lookmovie-inner">
                                <div class="lookmovie-arrow">
                                    <img src="<%= rootURL %>/assets/img/movie_arrow.png" alt="">
                                </div>
                                <p>
                                    動画を見る
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="check sec_1-check bbq-fadein en">
                    <a href="https://www.logos.ne.jp/products/info/1058" target="_blank">
                        CHECK
                    </a>
                </div>
            </div>
         </div>
         <div class="bottom_pin">
             <div class="pin pin1"></div>
             <div class="pin pin2"></div>
         </div>
    </div>
</section>