<section class="section section_2" id="sec_2">
    <div class="section_inner">
        <div class="top_pin">
            <div class="pin pin1"></div>
            <div class="pin pin2"></div>
        </div>
        <div class="sec_top">
            <div class="sec_tag bbq-fadein">
                片付けに最適
            </div>
            <div class="sec_top-flex bbq-fadein">
                <h2>
                    お掃除楽ちん<br>
                    シリーズ    
                </h2>
                <div class="sec_topitem sec_topitem2 move">
                    <img src="<%= rootURL %>/assets/img/sec2-1.png" alt="">
                </div>
            </div>
        </div>
        <p class="sec_lead bbq-fadein">
            楽しいバーベキューのあとは、できるだけサクッと片付けたい！そんな後片付けの手間をぐっと減らす便利アイテムをご用意しました。グリルの後片付けが簡単10秒で終わるお掃除楽チンアイテムや、汚れにくい調理ツールなど、簡単で時短に役立つアイテムばかりを厳選。これでバーベキューの締めくくりも、もっと気楽に楽しめます！
        </p>
        <div class="sec2-1">
            <div class="sec2-txt sec2-txt1 bbq-fadein">
                <p>こんなに簡単</p>
            </div>
            
        </div>
        <div class="sec2-point_wrap move">
            <div class="sec-point sec2-point">
                <p class="point-num en">1</p>
                <p class="point-ttl">グリルにセットして</p>
            </div>
            <div class="sec2-point_item">
                <img src="<%= rootURL %>/assets/img/sec2-2.png" alt="">
            </div>
            <div class="sec2-point_arrow">
                <img src="<%= rootURL %>/assets/img/point2-arrow.png" alt="">
            </div>
        </div>
        <div class="sec2-point_wrap move">
            <div class="sec-point sec2-point">
                <p class="point-num en">2</p>
                <p class="point-ttl">BBQを楽しんで</p>
            </div>
            <div class="sec2-point_item">
                <img src="<%= rootURL %>/assets/img/sec2-3.png" alt="">
            </div>
            <div class="sec2-point_arrow">
                <img src="<%= rootURL %>/assets/img/point2-arrow.png" alt="">
            </div>
        </div>
        <div class="sec2-point_wrap move">
            <div class="sec-point sec2-point">
                <p class="point-num en">3</p>
                <p class="point-ttl">いままで面倒だった<br>残灰を…</p>
            </div>
            <div class="sec2-point_item">
                <img src="<%= rootURL %>/assets/img/sec2-4.png" alt="">
            </div>
            <div class="sec2-point_arrow">
                <img src="<%= rootURL %>/assets/img/point2-arrow.png" alt="">
            </div>
        </div>
        <div class="sec2-point_wrap move sec2-point_wrap4">
            <div class="sec-point sec2-point">
                <p class="point-num en">4</p>
                <p class="point-ttl">丸めて捨てるだけ</p>
            </div>
            <div class="sec2-point_item">
                <img src="<%= rootURL %>/assets/img/sec2-5.png" alt="">
            </div>
        </div>


        <!-- LINEUP -->
        <div class="lineup-wrap sec2-lineup-wrap">
            <h3 class="lineup-ttl en move">
                <span class="lineup-letter">L</span><span class="lineup-letter">I</span><span class="lineup-letter">N</span><span class="lineup-letter">E</span><span class="lineup-letter">&nbsp;</span><span class="lineup-letter">U</span><span class="lineup-letter">P</span>
            </h3>
            <!-- LINEUP inner -->
            <div class="lineup-inner">
                <div class="lineup move sec2_lineup1-wrap">
                    
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            BBQお掃除楽ちんシート（極厚）
                        </p>
                        <p class="lineup-price en">
                            ¥979
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/864" target="_blank">
                                CHECK
                            </a>
                        </div>
                    </div>
                    <div class="lineup-itemph bbq-fadein sec2_lineup1">
                        <img src="<%= rootURL %>/assets/img/sec2-lineup1.png" alt="">
                    </div>
                </div>
                <div class="lineup move sec2_lineup2-wrap">
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            （グリルにぴったり）BBQお掃除<br>楽ちんシート・ワイド（極厚）
                        </p>
                        <p class="lineup-price en">
                            ¥1,089
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/2815" target="_blank">
                                CHECK
                            </a>
                        </div>

                    </div>
                    <div class="lineup-itemph bbq-fadein sec2_lineup2">
                        <img src="<%= rootURL %>/assets/img/sec2-lineup2.png" alt="">
                    </div>
                </div>
                <div class="lineup move sec2_lineup3-wrap">
                    
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            BBQお掃除楽ちんシート・10m（極厚）
                        </p>
                        <p class="lineup-price en">
                            ¥1,298
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/4018" target="_blank">
                                CHECK
                            </a>
                        </div>
                    </div>
                    <div class="lineup-itemph bbq-fadein sec2_lineup3">
                        <img src="<%= rootURL %>/assets/img/sec2-lineup3.png" alt="">
                    </div>
                </div>
                <div class="exclusive-grill-wrap">
                    <div class="vertical-txt-wrap grill-text-wrap move">
                        <div class="vertical-txt vertical-txt1">
                            <p>保護するカバータイプも！</p>
                        </div>
                        <div class="vertical-txt vertical-txt2">
                            <p>グリルの火床を、熱や汚れから</p>
                        </div>
                    </div>
                    <div class="grill-item-wrap">
                        <div class="grill-item grill-item1 bbq-fadein-delay">
                            <img src="<%= rootURL %>/assets/img/grill-item1.png" alt="">
                            <div class="lookmovie-wrap" data-video-id="czqW-wlaZ-w" data-product-link="https://dubdesign.net/javascript/getattribute-youtubemodal/">
                                <div class="look-movie">
                                    <div class="lookmovie-inner">
                                        <div class="lookmovie-arrow">
                                            <img src="<%= rootURL %>/assets/img/movie_arrow.png" alt="">
                                        </div>
                                        <p>
                                            動画を見る
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grill-item grill-item2 bbq-fadein-delay">
                            <img src="<%= rootURL %>/assets/img/grill-item2.png" alt="">
                            <div class="lookmovie-wrap">
                                <div class="look-movie">
                                    <div class="lookmovie-inner">
                                        <div class="lookmovie-arrow">
                                            <img src="<%= rootURL %>/assets/img/movie_arrow.png" alt="">
                                        </div>
                                        <p>
                                            動画を見る
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class="check grill-check grill-item bbq-fadein-delay en">
                        <a href="" target="_blank">
                            CHECK
                        </a>
                    </div>
                </div>
                <div class="lineup move sec2_lineup4-wrap">
                    
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            eco-logosave （お掃除楽ちん）<br>BBQ深型カバー・M（2pcs）
                        </p>
                        <p class="lineup-price en">
                            ¥770
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/2226" target="_blank">
                                CHECK
                            </a>
                        </div>
                    </div>
                    <div class="lineup-itemph bbq-fadein sec2_lineup4">
                        <img src="<%= rootURL %>/assets/img/sec2-lineup4.png" alt="">
                    </div>
                </div>
                <div class="lineup move sec2_lineup5-wrap">
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            eco-logosave （お掃除楽ちん）<br>BBQ深型カバー・L（2pcs）
                        </p>
                        <p class="lineup-price en">
                            ¥990
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/2227" target="_blank">
                                CHECK
                            </a>
                        </div>

                    </div>
                    <div class="lineup-itemph bbq-fadein sec2_lineup5">
                        <img src="<%= rootURL %>/assets/img/sec2-lineup5.png" alt="">
                    </div>
                </div>
                <div class="lineup move sec2_lineup6-wrap">
                    
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            LOGOS BBQお掃除楽ちん<br>保護カバー・FD
                        </p>
                        <p class="lineup-price en">
                            ¥880
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/5769" target="_blank">
                                CHECK
                            </a>
                        </div>
                    </div>
                    <div class="lineup-itemph bbq-fadein sec2_lineup6">
                        <img src="<%= rootURL %>/assets/img/sec2-lineup6.png" alt="">
                    </div>
                </div>
                <div class="lineup move sec2_lineup7-wrap">
                    
                    <div class="lineup-detail bbq-fadein">
                        <p class="lineup-name">
                            (お掃除楽ちん)美味しく焼ける<br>炭焼きグリルプレート（2pcs）
                        </p>
                        <p class="lineup-price en">
                            ¥880
                        </p>
                        <div class="lineup-check en">
                            <a href="https://www.logos.ne.jp/products/info/11013" target="_blank">
                                CHECK
                            </a>
                        </div>
                    </div>
                    <div class="lineup-itemph bbq-fadein sec2_lineup7">
                        <img src="<%= rootURL %>/assets/img/sec2-lineup7.png" alt="">
                    </div>
                </div>
            </div>
            <!-- LINEUP inner -->
        </div>
        <!-- LINEUP -->
         <div class="plus-wrap plus-wrap2 move">
            <div class="plus-item-ttl">
                プラスアルファの
                <div class="wave wave_1">
                    <img src="<%= rootURL %>/assets/img/wave_1.png" alt="">
                </div>
            </div>
            <div class="plus-item-ttl">
                便利アイテム
                <div class="wave wave_2">
                    <img src="<%= rootURL %>/assets/img/wave_2.png" alt="">
                </div>
            </div>
            <div class="plus-item_wrap plus-item_wrap2">
                <div class="plus-txt">
                    <p class="bbq-fadein">
                        消火に時間がかかる炭も、蓋を閉めておけば早く消せる「LOGOS バックル火消し壺」。<br>
                        バックル式のためワンアクションで簡単に開閉可能、蓋の固着も防げます。
                    </p>
                    <div class="check sec2-plus_check en bbq-fadein">
                        <a href="https://www.logos.ne.jp/products/info/10757" target="_blank">
                            CHECK
                        </a>
                    </div>
                </div>
                <div class="sec2-plus-item plus-item bbq-fadein">
                    <img src="<%= rootURL %>/assets/img/sec2-plus.png" alt="">
                </div>
                
            </div>
         </div>
         <div class="bottom_pin">
             <div class="pin pin1"></div>
             <div class="pin pin2"></div>
         </div>
    </div>
</section>